extends base 

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="username",placeholder="Username", type="text", reqired)
        input(name="password",placeholder="Password", type="password", reqired, minlength=8)
        input(type="submit", value="Login")
    hr
    div 
        span Don't have an account? 
        a(href="/join") Create one now &rarr;